*{
    padding: 0px;
    margin: 0px;  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;  
    line-height: 1.6;     
}
/* 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
.padding{
  padding: 80px 0px;
}
#brand{
  color: #f2f2f2;    
    font-weight: bold;
    margin-top: -15px;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 span{
    color: darkorange;
}

.navbar{
  background-color:rgba(0, 0, 0, 0.9);
}
#navbarTop a{  
    font-size: 15px;
    color: rgb(240, 232, 232);          
}
#navbarTop a:hover, .active{  
    color:darkorange;   
    font-weight: bold;
   
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: rgb(212, 212, 212);
	display: block;
	transition: all 0.3s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}


.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
html,
body,
#home{    
   max-width: 100%;
  overflow-x: hidden;       
}

#home{       
    background: url("images/last.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    height: 100vh;
}

#intro{
    height: 270px;
    width: 370px;
    margin:auto;
    margin-top: 300px;
    padding: 20px;   
    border-radius: 3px; 
    color: rgb(3, 3, 78);
    display: flex;
    justify-content: center;
    background-color: ghostwhite;
    
}
  #intro h2{
        font-weight: bold;
        font-size: 170%;
  }
  hr{
      width: 100px;      
  }

 h1{       
    font-weight: bold;
    font-size:400%;       
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

@media(max-width: 768px){
  h1{
    font-size:300% ;
  }
}

#icons i{
  color: rgb(73, 72, 72);

}
#frame img{
        border-radius: 50%;
        border: 2px solid darkgrey;
        
}
#resume div{
        margin-top:  10px;
      }

#frame button{    
    outline: none;
    display: block;
    margin-top: 15px;
    max-width: 100%;
    width: 400px;   
    background-color: rgb(228, 222, 222);
    border:none ;
    text-align: left;
    font-weight: bold;
    font-size: 19px;
    padding: 20px;
}
#frame button:hover{
    background-color: #ff8c00;
    transition-duration: 0.25s;
}
#frame button:active{
  background-color: #ff8c00;
  
}

.tabContent {
  display: none;
  padding: 6px 12px;
  
}

#content h1{
  color: rgb(233, 233, 227);
  font-weight:400 ;
  font-size: 350%;
  margin-left: 50px;
  margin-top: 20px;
}


#footer{
  background-color:rgba(58, 56, 56, 0.9);
  padding: 10px;  
  font-size: 12px;
  font-weight:600;
  color: #f2f2f2; 
  height: 150px;   
  text-align: center;
}

#footer p{
  margin-top: 50px;
}

#footer a{
  text-decoration: underline;
  color: #f2f2f2;
  padding: 25px; 
}

#footer a:hover{
  color: #ff8c00;
  text-decoration: none;
}

#contactDetails{
 margin-top: 150px;
 margin-left: 30px;
}

#contactDetails button{
  margin-left: 110px;
  margin-top: 30px;
  padding: 8px;
  background-color:rgb(29, 28, 26);
  border-radius: 5px;
}

#contactDetails button a{
  text-decoration: none;
  color: #ff8c00;
}

